In [1]:
import requests

from bs4 import BeautifulSoup

import pandas as pd

import csv

In [2]:
# Liste pour stocker les données des livres

books = []

In [3]:
# Boucle sur les pages du catalogue

for i in range(1,50):
     
     # Construire l'URL de la page du catalogue

     url = f"https://books.toscrape.com/catalogue/page-{i}.html"

     # Effectuer la requete HTTP

     response = requests.get(url)

     # Obtenir le contenu de la reponse

     response = response.content

     # Analyse le contenu HTML de la page

     soup = BeautifulSoup(response, 'html.parser')

     # Trouver la balise <ol> qui contient les articles

     ol = soup.find('ol')

     # Trouver tous les articles avec la classe 'product_prod'

     articles = ol.find_all('article', class_='product_pod')

     # Boucle sur chaque article

     for article in articles:
         
         # Trouver la balise 'p' pour obtenir le titre

         image = article.find('img')
         title = image.attrs['alt']

         # Trouver la balise 'p' pour obtenir la classe de l'étoile

         star = article.find('p')
         star = star['class'][1]

         # Trouver la balise 'p' avec la classe 'price_color' pour obtenir le prix

         price = article.find('p', class_='price_color').text
         price = float(price[1:])

         # Ajouter les informations du livre à la liste
         books.append([title, price, star])

In [4]:
# Créer un DataFrame Pandas avec les données des livres

df = pd.DataFrame(books, columns=['title', 'Price', 'Star Rating'])

# Sauvegarder le DataFrame dans un fichier CSV nommé 'books.csv'

df.to_csv('books.csv')

In [5]:
# Afficher le contenu du 'Books.csv' 

df

                                                 title  Price Star Rating
0                                 A Light in the Attic  51.77       Three
1                                   Tipping the Velvet  53.74         One
2                                           Soumission  50.10         One
3                                        Sharp Objects  47.82        Four
4                Sapiens: A Brief History of Humankind  54.23        Five
..                                                 ...    ...         ...
975                             Icing (Aces Hockey #2)  40.44        Four
976  Hawkeye, Vol. 1: My Life as a Weapon (Hawkeye #1)  45.24       Three
977  Having the Barbarian's Baby (Ice Planet Barbar...  34.96        Four
978               Giant Days, Vol. 1 (Giant Days #1-4)  56.76        Four
979           Fruits Basket, Vol. 1 (Fruits Basket #1)  40.28        Five

[980 rows x 3 columns]